<head>
  <link href="../content/css/form.css" rel="stylesheet" type="text/css">
  <link href="../content/css/footer.css" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<navigation></navigation>

<div class="container">

  <form ng-submit="vm.onSubmit()" class="form-style" id="form-style">
    <h1>Registrazione Utente
      <span>Seleziona i permessi per registrare diverse tipologie di utente</span>
    </h1>


    <!--  Permessi utente  -->
    <label for="usertype">
    <span>Permessi Utente :</span>
    <select name="usertype" id="usertype" class="form-control" ng-model="vm.userData.usertype" onchange="resetForm(), resetCtrl()" required>
           <option value="studente">Studente</option>
           <option value="docente">Docente</option>
           <option value="admin">Admin</option>
    </select>
    </label>

    <!--  Nome e Cognome  -->

    <label for="name">
    <span>Nome e Cognome:</span>
    <input type="text" class="form-control" id="name"  ng-model="vm.userData.name" required>
    </label>
    <!--  Città  -->

    <label for="city">
    <span>Città di residenza:</span>
    <input type="text" class="form-control" id="city"  ng-model="vm.userData.city" required>
    </label>


    <!--  Indirizzo  -->
    <label for="street">
     <span>Indirizzo di residenza:</span>
    <input type="text" class="form-control" id="street"  ng-model="vm.userData.street" required>
   </label>


    <!--  CAP  -->
    <label for="postalCode">
      <span> Codice Postale: </span>
    <input type="text" class="form-control" id="postalCode" ng-model="vm.userData.postalCode" required>
    </label>



    <!--  Telefono  -->
    <label for="tel">
      <span> Numero di telefono: </span>
    <input type="text" class="form-control" id="tel"  ng-model="vm.userData.tel" required>
    </label>


    <!--  Email  -->
    <label for="email">
       <span> Indirizzo email: </span>
    <input type="email" class="form-control" id="email"  ng-model="vm.userData.email" required>
    </label>

    <!--  Password  -->
    <label for="password">
      <span>Password:</span>
    <input type="password" class="form-control" id="password"  ng-model="vm.userData.password" required>
    </label>

    <!--  Matricola (Solo studente)  -->
    <div>
      <label for="mat">
           <span ng-show="vm.userData.usertype === 'studente'">Matricola:</span>
      <input type="text" class="form-control" id="mat"  minlength="6" maxlength="6" ng-model="vm.userData.mat" ng-show="vm.userData.usertype === 'studente'" required>
     </label>
    </div>

    <!-- Anno di Iscrizione (Solo studente)  -->
    <div>
      <label for="entryYear">
           <span ng-show="vm.userData.usertype === 'studente'">Anno di Iscrizione:</span>
     <input type="number" id="entryYear" min="2017" max="2099" step="1"  ng-model="vm.userData.entryYear" ng-show="vm.userData.usertype === 'studente'" required/>
     </label>
    </div>

    <!--  Corso di Studi (Solo studente) / Facoltà (Solo docente)  -->
    <div ng-show="vm.userData.usertype != 'admin'">
      <label for="faculty">
     <span ng-show="vm.userData.usertype === 'studente'" >Corso di studi: </span>
     <span ng-show="vm.userData.usertype === 'docente'">Docente della facoltà di: </span>
    <select name="faculty" id="faculty" class="form-control" ng-model="vm.userData.faculty" ng-show="vm.userData.usertype != 'admin'"  required>
                                                 
           <option value="">Seleziona una facoltà</option>                                                
           <option value="Informatica">Informatica</option>
           <option value="Chimica">Chimica</option>
           <option value="Fisica">Fisica</option>
     </select>
    </label>
    </div>
    <!--  Submit & Reset  -->
    <button type="submit" class="form-control">Registra Utente</button>
    <button type="reset" value="Reset" class="form-control"> Ripristina </button>
  </form>
</div>

<!--Footer -->
<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-2  col-md-2 col-sm-4 col-xs-6">
          <h3> Lorem Ipsum </h3>
          <ul>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
          </ul>
        </div>

        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
          <h3> Lorem Ipsum </h3>
          <ul>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
          </ul>
        </div>

        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
          <h3> Links </h3>
          <ul>
            <li> <a href="/"> Home </a> </li>
            <li> <a href="profile"> Profilo </a> </li>
            <li ng-show="vm.user.usertype === 'admin'"> <a href="register"> Registrazione </a> </li>
            <li ng-show="vm.user.usertype === 'admin'"> <a href="plan"> Gestione Piano di Studi </a> </li>
          </ul>
        </div>

        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
          <h3> Credits </h3>
          <ul>
            <li>
              Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>
            </li>
            <li>
              from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            </li>
            <li>is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
          </ul>

        </div>

      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </div>
  <!--/.footer-->

  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"> Copyright © Footer 2017. All right reserved. </p>
      <div class="pull-right">
        <ul class="social">
          <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
          <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
          <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
          <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
        </ul>
      </div>
    </div>
  </div>
  <!--/.footer-bottom-->
</footer>