<head>
  <link href="../content/css/search.css" rel="stylesheet" type="text/css">
  <link href="../content/css/footer.css" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<div class="page-header">
    <a href="home"> <span> <img id="logo" src="../content/img/unimarche.png">
 <img id="title" src="../content/img/namelogo.png"> </span></a>
</div>
<navigation></navigation>

<div id="container">

  <div class="row" style="text-align:center">
    <form ng-submit="vm.onSubmit()">
      <h2>Ricerca Docente</h2>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input type="text" class="form-control input-lg" placeholder="John Doe" ng-model="vm.professorName" />
          <span class="input-group-btn">
               <button class="btn btn-info btn-lg" type="submit">
                 <i class="glyphicon glyphicon-search"></i>
               </button>
            </span>
        </div>
      </div>
    </form>
  </div>
  <!-- risultati ricerca-->

  <div class="form-style" ng-if="vm.professor.length!== 0">
    <div class="row">
      <div class="col col-sm-4" ng-repeat="data in vm.professor">
        <h3>{{data.name}}</h3>

        <div id="professorInfo">
          <i>Dipartimento</i><br> {{data.faculty}} <br><br> <i>Contatti</i> <br> {{data.email}}<br> {{data.tel}}
        </div>


      </div>
      <div class="col col-sm-8">
        <table>
          <caption>
            Corsi Attivi
            <div class="search">
              <span class="glyphicon glyphicon-search"> </span>
              <input type="text" class="form-control" name="filterEntryYear" id="filterEntryYear" class="form-control" placeholder="Coorte"
                ng-model="vm.filterEntryYear">
            </div>
          </caption>
          <thead>
            <tr>
              <th scope="col">Corso</th>
              <th scope="col">Corso di studi</th>
              <th scope="col">Coorte</th>
              <th scope="col">Semestre</th>
              <th scope="col">CFU</th>
            </tr>
          </thead>
          <tbody ng-repeat="courseData in vm.professorCourses">
            <tr ng-repeat="data in courseData" ng-if="vm.checkCorrespondence(data._id.entryYear)">
              <td>{{data._id.subject}}</td>
              <td ng-if="data.faculties.length === 1"> {{data.faculties[0]}} </td>
              <td ng-if="data.faculties.length === 2"> {{data.faculties[0]}} <br> {{data.faculties[1]}} </td>
              <td ng-if="data.faculties.length === 3"> {{data.faculties[0]}} <br> {{data.faculties[1]}} <br> {{data.faculties[2]}} </td>
              <td>{{data._id.entryYear}}</td>
              <td>{{data.semester}}</td>
              <td>{{data.cfu}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div ng-if="vm.professor.length === 0" style="margin-bottom:300px;"></div>

</div>
<!--Footer -->
<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">

        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
          <h3> Contatti </h3>
          <ul id="contacts">
            <li ng-repeat="data in vm.contacts"> <i ng-if="data.email !== vm.user.email">{{data.email}}</i> </li>
          </ul>
        </div>

        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
          <h3> Links </h3>
          <ul>
            <li> <a href="/"> Home </a> </li>
            <li> <a href="profile"> Profilo </a> </li>
            <li ng-show="vm.user.usertype === 'studente'"> <a href="career"> Carriera </a> </li>
            <li ng-show="vm.user.usertype === 'studente'"> <a href="professorSearch"> Ricerca Docente </a> </li>
            <li ng-show="vm.user.usertype === 'studente'"> <a href="examBooking"> Prenotazione Appelli </a> </li>
            <li ng-show="vm.user.usertype === 'studente'"> <a href="thesis"> Richiedi Tesi </a> </li>
            <li> <a href="statistics"> Statistiche </a> </li>
          </ul>
        </div>

        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
          <h3> Credits </h3>
          <ul>
            <li>
              Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>
            </li>
            <li>
              from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            </li>
            <li>is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
            <li>
              <a href='http://www.freepik.com/free-vector/logos-made-with-lines-for-the-university_927183.htm'>Logo Designed by Freepik</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4  col-md-2 col-sm-4">
        </div>
        <div ng-if="vm.user.faculty === 'Informatica'" class="col-md-4  col-md-2 col-sm-4" style="text-align:right;">
          <img src="../content/img/logoInformatica.png" style="height:100px;">
        </div>
        <div ng-if="vm.user.faculty === 'Fisica'" class="col-md-4  col-md-2 col-sm-4" style="text-align:right;">
          <img src="../content/img/logoFisica.png" style="height:100px;">
        </div>
        <div ng-if="vm.user.faculty === 'Chimica'" class="col-md-4  col-md-2 col-sm-4" style="text-align:right;">
          <img src="../content/img/logoChimica.png" style="height:100px;">
        </div>
        <div class="col-md-4  col-md-2 col-sm-4" style="text-align:right;">
          <img src="../content/img/unimarche.png" style="height:100px;">
        </div>

      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"> Copyright © Footer 2017. All right reserved. </p>
      <div class="pull-right">
        <ul class="social">
          <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
          <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
          <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
          <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
        </ul>
      </div>
    </div>
  </div>
</footer>