#container {
  width: 960px;
  margin: 0 auto;
}
.page-header {
  height: 90px;
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px;
}

.navbar {
  border-top: 5px solid #c26c6c;
}

#logo {
  height: 70px;
  margin: 0px;
  margin-left: 50px;
}
#title {
  height: 70px;
  margin: 0px;
  margin-left: 20px;
}
#tableContainer {
  min-height: 250px;
}
#noData {
  color: #666;
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}
#noData p {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  color: #888;
}

h3 {
  color: #a53845;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

h4 {
  text-align: center;
  color: #cb999a;
  margin-top: 30px;
  margin-bottom: 30px;
}
#info_img {
  height: 16px;
  width: 16px;
}

.form-style {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 30px;
  max-height: 600px;
  max-width: 540px;
  background: #f7f7f7;
  padding: 25px 15px 25px 10px;
  color: #888;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #e4e4e4;
}
.form-style h1 {
  text-align: center;
  font-size: 27px;
  padding: 0px 0px 10px 40px;
  display: block;
  border-bottom: 1px solid #e4e4e4;
  margin: -10px -15px 30px -10px;
  color: #a53845;
}

.form-style h1 > span {
  margin-top: 3px;
  display: block;
  font-size: 13px;
  color: #888;
}
.form-style label {
  display: block;
  margin: 0px;
}
.form-style label > span {
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 10px;
  margin-top: 5px;
  color: #888;
}
.form-style input[type="text"],
.form-style input[type="email"],
.form-style input[type="password"],
.form-style input[type="number"],
.form-style input[type="date"],
.form-style input[type="time"],
.form-style textarea {
  border: 1px solid #dadada;
  color: #888;
  height: 35px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 230px;
  font-size: 12px;
  line-height: 15px;
  box-shadow: inset 0px 1px 4px #ececec;
  -moz-box-shadow: inset 0px 1px 4px #ececec;
  -webkit-box-shadow: inset 0px 1px 4px #ececec;
}

.form-style input[type="text"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="password"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="time"]:focus,
.form-style textarea:focus,
.form-style select:focus {
  border: 1px solid #918c8b;
}
.form-style select {
  background: #fff url("../img/arrow.png") no-repeat right;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  width: 250px;
  height: 35px;
  line-height: 25px;
  color: #888;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  font-size: 12px;
  line-height: 15px;
  box-shadow: inset 0px 1px 4px #ececec;
  -moz-box-shadow: inset 0px 1px 4px #ececec;
  -webkit-box-shadow: inset 0px 1px 4px #ececec;
  cursor: pointer;
}

.form-style button {
  font-size: 14px;
  width: 160px;
  text-align: center;
  background: #ab5963;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #fff;
  box-shadow: 1px 1px 5px #b6b6b6;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #ab5963;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-style button:hover {
  background: #c47d86;
  transition: 0.4s;
}

/*TABLE*/

table {
  float: right;
  width: 96%;
  margin: 10px auto;
  box-shadow: 5px 5px 10px 2px #e6e6e6;
  margin-bottom: 30px;
  margin-left: 10px;
}

caption {
  font-size: 1.3em;
  font-weight: 400;
  padding: 10px 0;
  color: #cb999a;
}

thead th {
  font-weight: 400;
  background: #cb999a;
  color: #fff;
}

tr {
  background: #f4f7f8;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: rgba(192, 192, 192, 0.29);
}

.table-striped > tr {
  background: #f4f7f8;
}

th,
td {
  text-align: left;
  padding: 10px;
  font-weight: 300;
}

td.iconValidate {
  background-image: url("../img/validation.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  max-width: 20px;
  max-height: 20px;
  padding: 8px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
td.iconValidate:hover {
  background-image: url("../img/validation-hover.png");
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.8;
}

td.iconDelete {
  background-image: url("../img/delete-grey-sm.png");
  background-repeat: no-repeat;
  background-position: center;

  max-width: 20px;
  max-height: 20px;
  padding: 8px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

td.iconDelete:hover {
  background-image: url("../img/delete_red.png");
  cursor: pointer;
  transition: 0.4s;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #cb999a;
}

.search {
  float: right;
}
.search input[type="text"] {
  float: right;
  height: 30px;
  width: 200px;
  margin-bottom: 10px;
  outline: 0 none;
  padding: 3px 12px 5px 5px;
  font-size: 16px;
  line-height: 15px;
  border: 1px solid #dadada;
  color: #c47d86;
  box-shadow: inset 0px 1px 4px #ececec;
  -moz-box-shadow: inset 0px 1px 4px #ececec;
  -webkit-box-shadow: inset 0px 1px 4px #ececec;
  transition: 0.1s;
}
.search input[type="text"]:focus {
  border: 1px solid #918c8b;
}

.search span {
  margin-top: 7px;
  margin-right: 10px;
  font-size: 14px;
}

.nav-tabs {
  margin: 0;
}

.panel-body {
  margin: 0px;
  padding: 30px;
  height: 100%;
  border-left: 1px solid #ebccd1;
  border-right: 1px solid #ebccd1;
  border-bottom: 1px solid #ebccd1;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px 0px 8px 8px;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 5px 5px 10px 2px #e6e6e6;
  background-color: rgba(102, 102, 102, 0.03);
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  border: 1px solid #d45500;
  border-bottom-color: transparent;
}
.nav-tabs {
  border-color: #d45500;
  border-bottom: 1px solid #d45500;
}
.panel .with-nav-tabs {
  background-color: #ebccd1;
}
.panel .with-nav-tabs .panel-body {
  background-color: #ebccd1;
}
.panel .with-nav-tabs .panel-body .tab-content {
  border-bottom: 1px solid #d45500;
}

.panel.with-nav-tabs .panel-heading {
  padding: 5px 5px 0 5px;
  border-color: #ebccd1;
}
.panel.with-nav-tabs .nav-tabs {
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified {
  margin-bottom: -1px;
}

/********************************************************************/

.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #a94442;
  font-size: 16px;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #a94442;
  background-color: #ebccd1;
  border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #a94442;
  background-color: #fff;
  border-color: #ebccd1;
  border-bottom-color: transparent;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  border-color: #d45500;
  border-bottom-color: transparent;
}
.nav-tabs {
  border-bottom: 1px solid #d45500;
}

.tab-pane {
  min-height: 400px;
}

.editTab {
  cursor: pointer;
  text-align: center;
}

.editTab p {
  text-align: left;
  font-size: 15px;
  margin-left: 40px;
}

.editTab .well {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}

.editTab tr {
  background-color: #f4f7f8;
  border-bottom: solid 1px #f5eeee;
}

.editTab .table {
  width: 80%;
  margin: auto;
  margin-right: 93px;
}

.form-style {
  box-shadow: 5px 5px 10px 2px #e6e6e6;
}

.editTab input[type="text"],
.editTab input[type="email"],
.editTab input[type="password"],
.editTab input[type="number"],
.editTab input[type="date"],
.editTab input[type="time"] {
  border: 1px solid #dadada;
  color: #888;
  height: 30px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 130px;
  font-size: 12px;
  line-height: 15px;
  box-shadow: inset 0px 1px 4px #ececec;
  -moz-box-shadow: inset 0px 1px 4px #ececec;
  -webkit-box-shadow: inset 0px 1px 4px #ececec;
}

.editTab input[type="text"]:focus,
.editTab input[type="email"]:focus,
.editTab input[type="password"]:focus,
.editTab input[type="number"]:focus,
.editTab input[type="date"]:focus,
.editTab input[type="time"]:focus,
.editTab select:focus {
  border: 1px solid #918c8b;
}
.editTab select {
  background: #fff url("../img/arrow.png") no-repeat right;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  width: 110px;
  height: 30px;
  line-height: 25px;
  color: #888;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  font-size: 12px;
  line-height: 15px;
  box-shadow: inset 0px 1px 4px #ececec;
  -moz-box-shadow: inset 0px 1px 4px #ececec;
  -webkit-box-shadow: inset 0px 1px 4px #ececec;
  cursor: pointer;
}
.editTab .glyphicon:hover {
  color: #c47d86;
}