html,
body {
  margin: 0;
  padding: 0;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  min-width: 1200px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  min-width: 960px;
}

h4 {
  font-family: Arial, Helvetica, Verdana, Sans-serif;
  text-align: center;
  color: #cb999a;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-style {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 28px;
  max-width: 500px;
  background: white;
  padding: 25px 15px 25px 10px;
  font: 14px Arial, Helvetica, Verdana, Sans-serif;
  color: #888;
  text-shadow: 1px 1px 1px #fff;
}
.form-style h1 {
  font-size: 27px;
  padding: 0px 0px 10px 40px;
  display: block;
  margin-bottom: 20px;
  margin-right: 20px;
  color: #ab5963;
}

.form-style h3 {
  text-align: left;
  padding: 0px 0px 0px 40px;
  display: block;
  margin-bottom: 30px;
}

.form-style h1 > span {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  display: block;
  font-size: 17px;
  color: black;
}
.form-style label {
  display: block;
  margin: 0px;
}
.form-style label > span {
  width: 20%;
  text-align: right;
  padding-right: 10px;
  margin-top: 4px;
  color: #cb999a;
}
.form-style input[type="text"],
.form-style input[type="email"],
.form-style input[type="password"],
.form-style input[type="number"],
.form-style input[type="date"],
.form-style input[type="time"],
.form-style input[type="datetime-local"],
.form-style textarea,
.form-style select {
  border: 1px solid #dadada;
  color: #888;
  height: 30px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 90%;
  font-size: 12px;
  line-height: 15px;
  box-shadow: inset 0px 1px 4px #ececec;
  -moz-box-shadow: inset 0px 1px 4px #ececec;
  -webkit-box-shadow: inset 0px 1px 4px #ececec;
}

.form-style input[type="text"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="password"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="datetime-local"]:focus,
.form-style select:focus {
  border: 1px solid #918c8b;
}

.form-style select {
  background: #fff url('../img/arrow.png') no-repeat right;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 90%;
  height: 35px;
  line-height: 25px;
}
.form-style button {
  width: 130px;
  background: #ab5963;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #fff;
  box-shadow: 1px 1px 5px #b6b6b6;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #ab5963;
  cursor: pointer;
  margin-right: 8px;
}
.form-style button:hover {
  background: #c47d86;
  transition: 0.4s;
}

#table {
  float: right;
  display: table;
  width: 550px;
  background: #fff;
  margin: 0;
  box-sizing: border-box;
  box-shadow: 5px 5px 30px 2px #e6e6e6;
}

.caption {
  float: right;
  text-align: right;
  display: block;
  width: 550px;
  background: #84c5ce;
  height: 75px;
  padding-right: 20px;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  box-shadow: 5px 5px 30px 2px #e6e6e6;
}
.caption span {
  text-align: left;
  font-size: 14px;
}

.caption  input[type="text"] {
  height: 30px;
  width: 100px;
  outline: 0 none;
  padding: 3px 12px 5px 5px;
  margin: 0;
  font-size: 16px;
  border: 1px solid #dadada;
  color: #c47d86;
  box-shadow: inset 0px 1px 4px #ececec;
  -moz-box-shadow: inset 0px 1px 4px #ececec;
  -webkit-box-shadow: inset 0px 1px 4px #ececec;
  transition: 0.1s;
}
.caption input[type="text"]:focus {
  border: 1px solid #918c8b;
}

.caption input[type="text"]:hover {
  color: rgba(203, 153, 154, 0.67);
  transition: 0.2s;
}

.caption h5 {
  text-align: left;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 25px;
}

.header-row {
  background: #8b8b8b;
  color: #fff;
}

.tableRow {
  display: table-row;
}

.cell {
  display: table-cell;

  padding: 6px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}
.cellDelete {
  display: table-cell;
  background-image: url("../img/delete-grey-sm.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.cellDelete:hover {
  background-image: url("../img/delete_red.png");
  cursor: pointer;
  transition: 0.4s;
}

.primary {
  text-align: left;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}
