#container {
  width: 960px;
  margin: 0 auto;
}
.page-header {
  height: 90px;
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px;
}

.navbar {
  border-top: 5px solid #c26c6c;
}

#logo {
  height: 70px;
  margin: 0px;
  margin-left: 50px;
}
#title {
  height: 70px;
  margin: 0px;
  margin-left: 20px;
}


.navbar {
  margin-bottom: 5px !important;
  min-width: 1200px !important;
}

h3 {
  color: #cb999a;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

h4 {
  font-size: 24px;
}

.form-style {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 30px;
  max-width: 550px;
  background: #f7f7f7;
  padding: 15px 5px 15px 0px;
  font: 14px Arial, Helvetica, Verdana, Sans-serif;
  color: #888;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #e4e4e4;
}
.form-style p,
h4 {
  margin-left: 20px;
}

h4.infoTag {
  font-size: 24px;
  margin-left: 10px;
}

#info {
  margin-left: 30px;
  margin-top: 20px;
  height: 32px;
  width: 27px;
}

p.courses {
  text-align: center;
  font-size: 20px;
  padding-top: 80px;
  padding-bottom: 230px;
  color: #cb999a;
}
cite {
  color: #666;
}
.panel {
  margin-top: 30px;
  border-color: #e4e4e4;
  height: 175px;
}
.panel cite {
  color: #e9e9e9;
}

.panel img {
  height: 40px;
  width: 40px;
  margin-left: 30px;
}
.panel > .panel-heading {
  background-color: rgba(42, 42, 50, 0.59);
  border-color: #e4e4e4;
  color: #f5f5f5;
  height: 55px;
}

.panel > .panel-heading-white {
  background-color: whitesmoke;
  border-bottom: 1px solid #e4e4e4;
  color: #666;
  max-height: 55px;
}
.panel-heading-white > .panel-title-white {
  color: #666;
  font-size: 20px;
  padding: 10px;
  margin-top: 0px;
}

i {
  padding-bottom: 5px;
  font-size: 15px;
}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}

.glyphicon.margin {
  margin-bottom: 10px;
  margin-right: 10px;
}

ul.chartList {
  list-style-type: none;
}

li.chartList {
  text-align: left;
  padding: 3px;
  margin-top: 2px;
}

span.infoTag {
  display: inline-block;
  text-align: left;
  padding: 2px;
  margin-left: 10px;
  margin-bottom: 4px;
  font-size: 15px;
}

.well {
  box-shadow: 5px 5px 10px 2px #e6e6e6;
  min-height: 160px;
}

.well.pie {
  background-color: rgba(138, 20, 20, 0.28);
  float: right;
  width: 330px;
  max-height: 500px;
  box-shadow: 5px 5px 10px 2px #e6e6e6;
  padding: 10px;
  margin: auto;
}

fusioncharts {
  margin-bottom: 600px;
}

/*TABLE*/

table {
  width: 96%;
  margin: 10px auto;
  box-shadow: 5px 5px 10px 2px #e6e6e6;
  margin-bottom: 30px;
}

#tableContainer {
  min-height: 400px;
}

caption {
  margin-left: 6px;
  margin-top: 30px;
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
  color: #cb999a;
}
caption span {
  float: right;
  margin-right: 50px;
}

thead th {
  font-weight: 400;
  background: #cb999a;
  color: #fff;
}

tr {
  background: #f4f7f8;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: rgba(192, 192, 192, 0.29);
}

th,
td {
  text-align: left;
  padding: 10px;
  font-weight: 300;
}

td img {
  width: 18px;
  height: 18px;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #cb999a;
}

.chart {
  margin-top: 30px;
}
.chartInfo {
  margin-top: 30px;
  color: rgba(116, 9, 9, 0.65);
}
.search {
  float: right;
}
.search input[type="text"] {
  float: right;
  height: 30px;
  width: 200px;
  margin-bottom: 10px;
  margin-right: 19px;
  outline: 0 none;
  padding: 3px 12px 5px 5px;
  font-size: 16px;
  line-height: 15px;
  border: 1px solid #dadada;
  color: #c47d86;
  box-shadow: inset 0px 1px 4px #ececec;
  -moz-box-shadow: inset 0px 1px 4px #ececec;
  -webkit-box-shadow: inset 0px 1px 4px #ececec;
  transition: 0.1s;
}
.search input[type="text"]:focus {
  border: 1px solid #918c8b;
}

.search span {
  margin-top: 7px;
  margin-right: 10px;
  font-size: 14px;
}

#goToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px;
  height: 45px;
  transition-duration: 0.3s;
  border-radius: 50px;
}

#goToTop:hover {
  transition-duration: 0.3s;
}
