#container {
  width: 960px;
  margin: 0 auto;
}
.page-header {
  height: 90px;
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px;
}

.navbar {
  border-top: 5px solid #c26c6c;
}

#logo {
  height: 70px;
  margin: 0px;
  margin-left: 50px;
}
#title {
  height: 70px;
  margin: 0px;
  margin-left: 20px;
}
.form-style-info {
  margin-left: auto;
  margin-right: 25px;
  margin-top: 30px;
  margin-bottom: 40px;
  background: #f7f7f7;
  padding: 25px 15px 25px 10px;
  color: #888;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.form-style-info h3 {
  padding: 0px 0px 10px 10px;
  display: block;
  margin: -5px -5px 10px -5px;
  color:  #a53845;
}

.form-style-info p {
  font-size: 16px;
  padding: 10px;
  margin-left: 5px;
}

#tableContainer {
  margin-top: 50px;
  min-height: 200px;
}

#table {
  display: table;
  width: 100%;
  background: #fff;
  margin: 0;
  box-sizing: border-box;
  box-shadow: 5px 5px 30px 2px #e6e6e6;
}

.caption {
  text-align: right;
  display: block;
  width: 100%;
  background: #84c5ce;
  height: 75px;
  padding-left: 10px;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  box-shadow: 5px 5px 5px 2px #e6e6e6;
}

.caption label {
margin-top: 2px;
}

.caption input[type="text"] {
  height: 30px;
  width: 200px;
  outline: 0 none;
  padding: 3px 12px 5px 5px;
  margin: 0;
  font-size: 16px;
  line-height: 15px;
  border: 1px solid #dadada;
  color: #c47d86;
  box-shadow: inset 0px 1px 4px #ececec;
  -moz-box-shadow: inset 0px 1px 4px #ececec;
  -webkit-box-shadow: inset 0px 1px 4px #ececec;
  transition: 0.1s;
}
.caption input[type="text"]:focus {
  border: 1px solid #918c8b;
}

.caption h5 {
  text-align: left;
  font-size: 24px;
  margin-right: 50px;
}

.caption span {
  text-align: left;
  font-size: 14px;
}

#emptyTable h4 {
  font-family: Arial, Helvetica, Verdana, Sans-serif;
  font-size: 30px;
  text-align: center;
  color: #cb999a;
  margin-top: 100px;
  margin-bottom: 500px;
}

.header-row {
  background: #8b8b8b;
  color: #fff;
}

.tableRow {
  display: table-row;
}

.cell {
  display: table-cell;

  padding: 6px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}
.cellDelete {
  display: table-cell;
  background-image: url("../img/delete-grey-sm.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.cellDelete:hover {
  background-image: url("../img/delete_red.png");
  cursor: pointer;
  transition: 0.4s;
}

.primary {
  text-align: left;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.well {
  margin-right: 10px;
  min-height: 210px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.well.wellRed {
  max-height: 210px;
  background-color: rgba(255, 53, 53, 0.28);
}


.well.wellRed h3 {
  font-size: 22px;
  padding: 5px 0px 10px 10px;
  display: block;
  margin: -5px -5px 10px -5px;
  color: #50161D;
}

.deleteButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #fc8d83),
    color-stop(1, #e4685d)
  );
  background: -moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background: -webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background: -o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background: -ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#fc8d83",
      endColorstr="#e4685d",
      GradientType=0
    );
  background-color: #fc8d83;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.deleteButton:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #e4685d),
    color-stop(1, #fc8d83)
  );
  background: -moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
  background: -webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
  background: -o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
  background: -ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
  background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#e4685d",
      endColorstr="#fc8d83",
      GradientType=0
    );
  background-color: #e4685d;
}
.deleteButton:active {
  position: relative;
  top: 1px;
}
