<head>
    <link href="../content/css/plan.css" rel="stylesheet" type="text/css">
</head>

<navigation></navigation>

<div class="container">
    <h3>Modifica Piano di Studi</h3>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!--COLONNA SINISTRA-->

                <!--Aggiungi corso al piano -->
                <form ng-submit="vm.onSubmit()" class="form-style">

                    <h1>
                        <span>Completa i seguenti campi per aggiungere un corso</span>
                    </h1>

                    <div class="form-group">
                        <label for="degree">
                            <span>Corso di Laurea in:</span>
                    <select name="degree" id="degree" class="form-control" ng-model="vm.credentials.degree" required>
                          <option  value="Informatica">Informatica</option>
                          <option value="Farmacia">Farmacia</option>
                          <option value="Fisica">Fisica</option>
                          <option value="Giurisprudenza">Giurisprudenza</option>
                   </select>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="subject">
                            <span>Corso:</span>
                        <input type="text" class="form-control" id="subject" placeholder="Programmazione Web" ng-model="vm.credentials.subject" required>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="cfu">
                            <span>CFU:</span>
                        <input type="number" class="form-control" min="1" id="cfu" placeholder="6" ng-model="vm.credentials.cfu" required>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="year">
                            <span>Anno di Corso:</span>
                        <input type="number" class="form-control" min="1" max="5" id="year" placeholder="1" ng-model="vm.credentials.year" required>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="semester">
                            <span>Semestre:</span>
                        <input type="number" class="form-control" min="1" max="2" id="semester" placeholder="1" ng-model="vm.credentials.semester"
                            required>
                         </label>
                    </div>

                    <button type="submit">Aggiungi Corso</button>
                    <button type="reset" value="Reset"> Ripristina </button>
                </form>

                <!--Elimina corso dal piano-->

                <form ng-submit="vm.onDelete()" class="form-style">
                    <h1>
                        <span>Completa i seguenti campi per eliminare un corso da un piano</span>
                    </h1>
                    <div class="form-group">
                        <label for="degree">
                            <span>Corso di Laurea in:</span>
                       <select name="degree" id="degree" class="form-control" ng-model="vm.eraseData.degree" required>
                          <option  value="Informatica">Informatica</option>
                          <option value="Farmacia">Farmacia</option>
                          <option value="Fisica">Fisica</option>
                          <option value="Giurisprudenza">Giurisprudenza</option>
                   </select>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="subject">
                            <span>Corso:</span>
                        <input type="text" class="form-control" id="subject" placeholder="Programmazione Web" ng-model="vm.eraseData.subject" required>
                        </label>
                    </div>

                    <button type="submit">Elimina Materia</button>
                    <button type="reset" value="Reset"> Ripristina </button>
                </form>

            </div>


            <!--COLONNA DESTRA-->
            <!--Tabella piano di studi-->
            <div class="col-md-6">
                <div class="form-style">
                    <!--Seleziona piano da mostrare -->
                    <h1>
                        <span>Seleziona la facoltà per mostrare il relativo piano di studi</span>
                    </h1>
                    <label for="filterDegree">
                    <span>Facoltà:</span>
                    <select name="filterDegree" id="filterDegree" class="form-control" ng-model="vm.filter.filterDegree">
                      <option  value="Informatica">Informatica</option>
                      <option value="Farmacia">Farmacia</option>
                      <option value="Fisica">Fisica</option>
                      <option value="Giurisprudenza">Giurisprudenza</option>
                   </select>
                    </label>

                    <table border="1">
                        <thead>
                            <tr>
                                <th>Descrizione</th>
                                <th>Anno di Corso</th>
                                <th>Semestre</th>
                                <th>Crediti Attività</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="data in vm.elements" ng-show="data.degree === vm.filter.filterDegree">
                                <td>{{data.subject}}</td>
                                <td>{{data.year}}</td>
                                <td>{{data.semester}}</td>
                                <td>{{data.cfu}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>