<!DOCTYPE html>

<html>

<head>
  <link href="../content/css/plan.css" rel="stylesheet" type="text/css">
  <link href="../content/css/footer.css" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

  <navigation></navigation>

  <div id="container">
    <div class="row">
      <div class="col-md-5">
        <form ng-submit="vm.onSubmit()" class="form-style">

          <div class="form-group">
            <label for="faculty">
                   <span>Corso di Laurea in:</span>
                    <select name="faculty" id="faculty" class="form-control" ng-model="vm.courseData.faculty" required>
                          <option  value="Informatica">Informatica</option>
                          <option value="Farmacia">Farmacia</option>
                          <option value="Fisica">Fisica</option>
                          <option value="Giurisprudenza">Giurisprudenza</option>
                   </select>
            </label>
          </div>

          <div class="form-group">
            <label for="subject">
            <span>Corso</span>
              <input type="text" class="form-control" id="subject" ng-model="vm.courseData.subject" required>
            </label>
          </div>
          <!-- Anno Accademico  -->
          <div>
            <label for="academicYear">
                         <span >Anno Accademico</span>
                          <input type="number" class="form-control" id="academicYear" min="2016" max="2099" step="1"  ng-model="vm.courseData.academicYear" required/>
                          </label>
          </div>
          <div class="form-group">
            <label for="cfu">
                            <span>CFU</span>
                        <input type="number" class="form-control" min="1" id="cfu"ng-model="vm.courseData.cfu" required>
                        </label>
          </div>
          <div class="form-group">
            <label for="year">
                            <span>Anno di Corso</span>
                        <input type="number" class="form-control" min="1" max="5" id="year"  ng-model="vm.courseData.year" required>
                        </label>
          </div>
          <div class="form-group">
            <label for="semester">
                            <span>Semestre</span>
                        <input type="number" class="form-control" min="1" max="2" id="semester"  ng-model="vm.courseData.semester"
                            required>
                         </label>
          </div>
          <!--  Email  -->
          <div class="form-group">
            <label for="email">
                   <span> Email Docente Responsabile</span>
                   <input type="email" class="form-control" id="email" ng-model="vm.courseData.professorEmail" required>
                    </label>
          </div>

          <button type="reset" value="Reset"> Ripristina </button>
          <button type="submit" style="width: 175px;">Aggiungi Corso &nbsp <span class="glyphicon glyphicon-chevron-right"></span></button>

        </form>

      </div>


      <div class="col-md-7" style="margin-top:60px;">
        <div class="caption">
          <label>
         <h5><span class="glyphicon glyphicon-search"> </span> Filtra Corsi </h5>
        </label>
          <label for="filterFaculty">  <span style="margin-right:88px;">Facoltà </span>
          <input type="text" class="form-control" name="filterFaculty" id="filterFaculty" class="form-control" ng-model="vm.filter.filterFaculty" style="width: 140px";>
         </label>
          <label for="filterAcademicYear"> <span style="margin-right:68px;"> A.A.  </span>
            <input type="text" class="form-control" name="filterAcademicYear" id="filterAcademicYear" ng-model="vm.filter.filterAcademicYear" style="margin-left:10px;">
        </label>
          <label for="filterYear">  <span style="margin-right:5px;"> Anno di corso </span>
            <input type="text" class="form-control" name="filterYear" id="filterYear" ng-model="vm.filter.filterYear" style="margin-left:10px;">
        </label>
        </div>

        <div id="table" class="page-break">
          <div class="header-row tableRow" ng-hide="vm.visibleRows === 0">
            <span class="cell primary">Descrizione</span>
            <span class="cell">Anno di Corso</span>
            <span class="cell">Semestre</span>
            <span class="cell">Crediti Attività</span>
            <span class="cell">Docente Responsabile</span>
            <span class="cell">Elimina Corso</span>
          </div>
          <div class="tableRow" ng-repeat="data in vm.courses" ng-show=" vm.checkCorrespondence(data.faculty, data.academicYear, data.year)">
            <input type="radio" name="expand">
            <span class="cell primary" data-label="subject">{{data.subject}}</span>
            <span class="cell" data-label="year">{{data.year}}</span>
            <span class="cell" data-label="semester">{{data.semester}}</span>
            <span class="cell" data-label="cfu">{{data.cfu}}</span>
            <span class="cell" data-label="name">{{data.name}}</span>
            <span class="cellDelete" ng-click="deleteCourse(data._id, data.subject, data.faculty, data.academicYear)"></span>
          </div>
          <div ng-show="vm.visibleRows === 0">
            <h4>Nessuna Corrispondenza</h4>
          </div>
        </div>
      </div>
    </div>

  </div>


  <footer>
    <div class="footer" id="footer">
      <div class="container">
        <div class="row">

          <div class="col-md-2  col-md-2 col-sm-4 col-xs-6">
            <h3> Lorem Ipsum </h3>
            <ul>
              <li> <a href="#"> Lorem Ipsum </a> </li>
              <li> <a href="#"> Lorem Ipsum </a> </li>
            </ul>
          </div>

          <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
            <h3> Contatti Admin</h3>
            <ul>
              <li> <a href="#"> Lorem Ipsum </a> </li>
              <li> <a href="#"> Lorem Ipsum </a> </li>
            </ul>
          </div>

          <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
            <h3> Links </h3>
            <ul>
              <li> <a href="/"> Home </a> </li>
              <li> <a href="profile"> Profilo </a> </li>
              <li> <a href="register"> Registrazione </a> </li>
              <li> <a href="usersManagement"> Gestione Utenti e Account </a> </li>
              <li> <a href="plan"> Gestione Piano di Studi </a> </li>

            </ul>
          </div>

          <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
            <h3> Credits </h3>
            <ul>
              <li>
                Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>
              </li>
              <li>
                from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
              </li>
              <li>is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
            </ul>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <p class="pull-left"> Copyright © Footer 2017. All right reserved. </p>
        <div class="pull-right">
          <ul class="social">
            <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>